.nav {
  z-index: 5;
  position: fixed;
  background-color: white;
  width: 100%;
  padding: 0px; }
  .nav nav {
    margin: 0px auto;
    width: 800px; }
    @media screen and (max-width: 1200px) {
      .nav nav {
        width: 680px;
        display: none; } }
  .nav .img {
    float: left;
    position: absolute;
    background-color: #dddddd;
    z-index: 10;
    margin-left: -153px;
    transition: all 0.5s; }
    .nav .img img {
      position: absolute; }
  .nav .img-show {
    margin-left: 0px; }
    @media screen and (max-width: 1040px) {
      .nav .img-show {
        margin-left: -153px; } }
  .nav .social {
    float: right; }
  .nav ul {
    list-style: none;
    margin: 0px; }
    .nav ul li {
      float: left;
      padding: 10px 0;
      text-align: center;
      width: 14%; }
    .nav ul li:hover {
      cursor: pointer;
      background-color: #77d3c2;
      transition: background-color 0.3s;
      color: white; }
  .nav .social span {
    padding: 12px 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s; }
  .nav .social span:hover {
    color: #77d3c2;
    transition: all 0.2s; }

.video-box {
  margin: 0px auto;
  width: 700px; }

.wrapper {
  width: 1000px;
  margin: 0px auto; }

.video-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: url(../src/img/pattern.png) repeat; }

.container-social {
  width: 150px;
  height: 50px;
  background-color: red;
  position: relative;
  bottom: 0px;
  right: 0px;
  z-index: 6; }

.content-container {
  position: relative;
  z-index: 3; }

.container-video {
  height: 100vh;
  width: 100%;
  text-align: center;
  color: white; }
  .container-video div {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .container-video img {
    margin: 0px auto 0px;
    width: 200px; }

.container-other {
  background-image: url(../src/img/abibg.png);
  background-size: cover;
  background-attachment: fixed; }

.section-intro, .section-lineup, .section-news, .section-video, .section-sponsors {
  padding: 100px 0; }

.section-lineup {
  background-color: #dddddd; }

.section-banner {
  background-image: url(../src/img/banner.jpg);
  background-size: cover;
  height: 500px;
  cursor: pointer;
  background-position-x: 0px;
  transition: all 40s; }

.flow {
  background-position-x: -700px;
  transition: all 40s; }

.section-news .row div {
  padding: 15px; }
  .section-news .row div .news-head {
    padding: 0px;
    height: 200px; }
  .section-news .row div .news-foot {
    text-align: center;
    font-size: 20px;
    background-color: white;
    height: 200px;
    padding: 20px; }
    .section-news .row div .news-foot .box-text {
      height: 50%; }

.footer {
  background-color: #75c2b2; }
  .footer .wrapper {
    background-image: url(src/img/footer.png);
    background-size: cover;
    height: 500px; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }
