//output:../anfahrt.html


html 
  head
    title Abifestival
    link(rel='stylesheet', href='css/layout.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='css/gridster.css')
  body
    //- nav hallo
    nav
      .wrapper
        img(src="src/img/logo.png")
        ul
          li Bandinfos
          li Anfahrt
          li Gel&auml;nde
          li Zelten
          li Fragen
          li Sponsoren 
          li Mehr
    
    .section-begin
      .wrapper
  
        
    .footer
      .wrapper
    //-     h2 hallo
            
    
    script(src='js/jquery.min.js')
    script(src='bootstrap/js/bootstrap.js')
    script(src='js/gridster.js')
    script(src='js/script.js')
    script(src='js/jquery.sticky.js')
  
    
